DJANGO_SECRET_KEY=
DJANGO_DEBUG=True
ALLOWED_HOSTS=
CSRF_TRUSTED_ORIGINS=

DB_TYPE=MYSQL
# Database Config (if not SQLITE)
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=127.0.0.1
DB_PORT=3306

FORCE_SCRIPT_NAME=

SESSION_COOKIE_NAME=cookie_sessionid
CSRF_COOKIE_NAME=cookie_csrftoken

SESSION_COOKIE_PATH=/
CSRF_COOKIE_PATH=/
SESSION_COOKIE_SECURE=False
CSRF_COOKIE_SECURE=False
SESSION_COOKIE_SAMESITE=Lax
CSRF_COOKIE_SAMESITE=Lax
USE_X_FORWARDED_HOST=True
X_FRAME_OPTIONS=ALLOWALL

LANGUAGE_CODE=es-es
TIME_ZONE=America/Santiago

STATIC_URL=/static/

