{% extends 'base.html' %}
{% load query_tags %}
{% block sidebar %}
{% endblock %}

{% block buttons %}
    {% if request.user.role. >= 2 %}
        <a href="{% url create_url_name %}"
           class="btn btn-sm mx-1 btn-primary"
           title="Nuevo Registro">
            <i class="bi bi-plus-circle me-1"></i>
            Nuevo Registro
        </a>
    {% endif %}
    <a href="?{% query_transform export='csv' %}"
       class="btn btn-sm mx-1 btn-success"
       title="Exportar CSV">
        <i class="bi bi-file-earmark-spreadsheet me-1"></i>
        Exportar CSV
    </a>
    {% if request.user.role. >= 2 %}
        <a href=""
           class="btn btn-sm mx-1 btn-warning"
           title="Historial">
            <i class="bi bi-clock-history me-1"></i>
            Historial
        </a>
    {% endif %}
{% endblock %}

{% block title %}{{ title }}{% endblock %}
{% block content %}
    <div class="row mx-2">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-header">
                    <div class="row g-2 align-items-center">
                        <div class="col-12">
                            <form method="get" class="d-flex flex-wrap justify-content-md-end gap-2">

                                <div class="input-group input-group-sm">
                                    <span class="input-group-text">
                                        <i class="bi bi-search" aria-hidden="true"></i>
                                    </span>
                                    {{ filter_form.id }}
                                    {{ filter_form.is_active }}
                                    <button type="submit" class="btn btn-primary">
                                        <i class="bi bi-funnel-fill me-1"></i>
                                        Filtrar
                                    </button>
                                    <a href="{% url list_url_name %}" class="btn btn-secondary">
                                        <i class="bi bi-arrow-clockwise me-1"></i>
                                        Limpiar
                                    </a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="card-body p-0">
                    <div class="table-responsive">
                        <table class="table table-hover align-middle m-0" role="table">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Fecha Creación</th>
                                <th scope="col">Estado</th>
                                {% if request.user.role. >= 2 %}
                                    <th scope="col">Acciones</th>
                                {% endif %}
                            </tr>
                            </thead>
                            <tbody>
                            {% for object in page_obj %}
                                <tr>
                                    <td>{{ object.id }}</td
                                    <td>{{ object.created_at|date:"d/m/Y H:i" }}</td>
                                    <td>
                                        {% if object.is_active %}
                                            <span class="badge bg-success">Activo</span>
                                        {% elif not object.is_active %}
                                            <span class="badge bg-danger">Inactivo</span>
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                    {% if request.user.role. >= 2 %}
                                        <td>
                                            <a href="{% url update_url_name object.id %}"
                                               class="btn btn-sm btn-outline-primary"
                                               title="Editar"
                                               data-bs-toggle="tooltip"
                                               data-bs-placement="top">
                                                <i class="bi bi-pencil"></i>
                                                <span class="d-none">Editar</span>
                                            </a>
                                        </td>
                                    {% endif %}
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="8" class="text-center text-body-secondary py-4">
                                        No se encontraron registros para la búsqueda.
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer clearfix">
                    <div class="float-start pt-1 fs-7 text-body-secondary">
                        Mostrando {{ page_obj.start_index }} a {{ page_obj.end_index }} de {{ paginator.count }}
                        registros
                    </div>
                    {% if is_paginated %}
                        <ul class="pagination pagination-sm m-0 float-end">
                            {% if page_obj.has_previous %}
                                <li class="page-item">
                                    <a class="page-link"
                                       href="?{% query_transform page=page_obj.previous_page_number %}"
                                       aria-label="Anterior">«</a>
                                </li>
                            {% endif %}

                            {% for i in paginator.page_range %}
                                {% if page_obj.number == i %}
                                    <li class="page-item active">
                                        <span class="page-link">{{ i }}</span>
                                    </li>
                                {% elif i > page_obj.number|add:'-3' and i < page_obj.number|add:'3' %}
                                    <li class="page-item">
                                        <a class="page-link"
                                           href="?{% query_transform page=i %}">
                                            {{ i }}
                                        </a>
                                    </li>
                                {% endif %}
                            {% endfor %}

                            {% if page_obj.has_next %}
                                <li class="page-item">
                                    <a class="page-link"
                                       href="?{% query_transform page=page_obj.next_page_number %}"
                                       aria-label="Siguiente">»</a>
                                </li>
                            {% endif %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
